<form action="/add" method="post" >
    <label for="titulo">titulo</label>
    <input type="titulo" name="titulo">

    <label for="conteudo">conteudo</label>
    <textarea name="conteudo" id="" cols="20" rows="10"></textarea>
    <button type="submit">cadastrar</button>
</form>